node_modules

build
out

*.test.js
*.spec.js
__tests__

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
npm-debug.log*

.git
.gitignore
.vscode
.idea
.DS_Store

Dockerfile
.dockerignore